body, html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
header > .top-line {
	height: 38px;
	background-color: #008000;
}
.container {
	width: 1110px;
	margin: 0 auto;
}
.link {
	border: 0;
	background: none;
	outline: none;
	color: white;
}
.link:hover {
	text-decoration: underline;
	cursor: pointer;
} 
header {
	height: 76px;
	position: fixed;
	width: 100%;
	background-color: white;
}
header > .top-line > .container {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
}
header > .top-line > .container > .link {
	display: block;
	height: 100%;
	font-weight: 600;
	padding: 0px 15px;
}
header >.main-menu >.container {
	background-color: #F5F5DC;
	height: 83px;
}
header >.main-menu >.container >.button {
	margin: 30px;
}
main {
	padding-top: 130px;
}
main >.top-line {
	display: flex;
	justify-content: space-between;
}
main >.top-line >.filters {
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 10px;
}
main >.products {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 15px;
}
main >.products >.item {
	width: 200px;
	height: 300px;
	border: solid 1px black;
}
footer{
	height: 100px;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	box-sizing: border-box;
	align-items: flex-start;
}
footer >.button {
	background-color: transparent;
}
